.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
	height: 350px;
	width: 50%;
}

.map-one{
	border: 1px solid black;
	width: 47%;
	float: left;
	height: 500px;
	padding: 10px;
	margin: 5px;
}
.map-two{
	border: 1px solid black;
	width: 47%;
	float: right;
	height: 500px;
	padding: 10px;
	margin: 5px;
}
.map-three{
	border: 1px solid black;
	width: 96%;
	float: left;
	height: 500px;
	padding: 10px;
	margin: 5px;
}
div#eleven {
    width: 70%;
    float: right;
}
.direction-container{
	max-height: 460px;
	overflow: auto;
}
.customClass{
  height: 40%;
  width: 800px;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.controls {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.map-grid {
  height: 100%;
  width: 100vw;
  display: grid;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
  position: relative;
  grid-gap: 3px;
}

.map {
  border: 3px solid white;
}

label {
  display: block;
}

.tabledata{
  width: fit-content;
  display: flex;
}

.content{
  display: flex;
  margin-top: 15px;
}